[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupytext = "*"

[packages]
sklearn = "*"
pandas = "*"
jupytext = "*"
seaborn = "*"
pillow = "*"
tqdm = "*"
ipython = "*"
sklearn-pandas = "*"
ipykernel = "*"
matplotlib = "*"
jupyter = "*"
xgboost = "*"
squid-py = "*"

[requires]
python_version = "3.6"
